body {
    background-color: antiquewhite;
    background-size: cover;
    margin: 0;
    padding: 0;
}

div.container {
    border: 5px solid black;
    border-radius: 20px;
    background-color: burlywood;
    margin: auto;
    text-align: center;
    width: 500px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
}

h1#hello {
    font-size: 30px;
}
